In [2]:
# Mengimpor library
import numpy as np # digunakan untuk menangani angka 
import pandas as pd # digunakan untuk menangani dataset

#### Dataset yang digunakan merupakan dataset dari Evaluasi Mobil = https://archive.ics.uci.edu/ml/datasets/Car+Evaluation

##### Convert file .txt menjadi .csv

# readinag given csv file 
# and creating dataframe 
dataframe1 = pd.read_csv("dataset/car_data.txt") 
  
# storing this dataframe in a csv file 
dataframe1.to_csv('dataset/car_data.csv',  
                  index = None)

### Exploratory Data Analyst

In [13]:
# Import file CSV
df = pd.read_csv('dataset/forestfires.csv') # untuk mengimpor dataset ke dalam variabel

In [14]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [15]:
# Cek missing value
df.isnull().sum()

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder # digunakan untuk encoding data kategorikal
# encode categorical data
labelencoder_X = LabelEncoder()
df.iloc[:, 2] = labelencoder_X.fit_transform(df.iloc[:, 2])
df.iloc[:, 3] = labelencoder_X.fit_transform(df.iloc[:, 3])

In [17]:
df

     X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5      7    0  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4     10    5  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4     10    2  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6      7    0  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6      7    3  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..    ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3      1    3  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4      1    3  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4      1    3  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4      1    2  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3      9    5  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [20]:
from sklearn.model_selection import train_test_split # digunakan untuk memisahkan data pelatihan dan pengujian

X = df.drop(columns="area")
y = df.area

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((413, 12), (104, 12), (413,), (104,))

In [22]:
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from jcopml.tuning import grid_search_params as gsp

In [25]:
X_train.head()

     X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain
329  4  3     11    2  92.2  102.3  751.5   8.4  23.5  27   4.0   0.0
173  4  4     11    1  90.9  126.5  686.5   7.0  17.7  39   2.2   0.0
272  2  5      1    5  92.1  152.6  658.2  14.3  20.2  47   4.0   0.0
497  3  4      1    5  96.1  181.1  671.2  14.3  32.3  27   2.2   0.0
182  5  4      3    3  86.8   15.6   48.3   3.9  12.4  53   2.2   0.0

In [27]:
from sklearn.compose import ColumnTransformer

In [28]:
preprocessor = ColumnTransformer([
    ('numeric', num_pipe(), ["X","Y","FFMC","DMC","DC","ISI","temp","RH","wind","rain"]),
    ('categorical', cat_pipe(encoder='onehot'),["month","day"]),
])

pipeline = Pipeline({
    ('prep', preprocessor),
    ('algo', SVR(max_iter=500))
})

model = GridSearchCV(pipeline, gsp.svm_params, cv=3, n_jobs=-1, verbose=1)
model.fit(X_train,y_train)

print(model.best_params_)
print(model.score(X_train, y_train), model.best_score_, model.score(X_test, y_test))

NameError: name 'num_pipe' is not defined