In [1]:
# buatlah List Data dengan isinya : 1, 11, 2, 22, 3, 33,"semangat", "Belajar"
DataList = [1, 11, 2, 22, 3, 33, "semangat", "Belajar"]
print(DataList)
print(type(DataList))

[1, 11, 2, 22, 3, 33, 'semangat', 'Belajar']
<class 'list'>

In [14]:
# buatlah Set dengan isinya : 1.1, 11.1, 2.2, 22.2, "Hari", "Selasa"
DataSet = {1.1, 11.1, 2.2, 22.2, "Hari", "Selasa"}
print(type(DataSet))
print(DataSet)

<class 'set'>
{1.1, 2.2, 'Hari', 11.1, 22.2, 'Selasa'}

In [10]:
""" 
buatlah Dictionary dengan data Nama: Anggara, Belajar: Data Science, Tempat: mutiara technology Indonesuia,
Tahun : 2021, Nilai1 : 100, Nlai2: 90, Nilai3: 99, Nilai4:59
 
"""
DataDictionary = {"Nama":"Anggara", 
                  "Belajar":"Data Science", 
                  "Tempat":"mutiara technology Indonesia", 
                  "Tahun":2021, 
                  "Nilai1":100, 
                  "Nilai2":90, 
                  "Nilai3":99, 
                  "Nilai4":59
                 }
print(DataDictionary)
print(type(DataDictionary))

{'Nama': 'Anggara', 'Belajar': 'Data Science', 'Tempat': 'mutiara technology Indonesia', 'Tahun': 2021, 'Nilai1': 100, 'Nilai2': 90, 'Nilai3': 99, 'Nilai4': 59}
<class 'dict'>

In [7]:
# buatlah sebuah Tuple dengan isi doni, 65, 43, 12, 100, 4 
DataTuple = ("doni", 65, 43, 12, 100, 4)
print(DataTuple)
print(type(DataTuple))

('doni', 65, 43, 65, 12, 100, 4)
<class 'tuple'>

In [9]:
# jumlahkan isi dari DataList pertama dengan isi DataTuple kedua
hasilJumlah = DataList[1] + DataTuple[2]
print(hasilJumlah)

54

In [16]:
# gunakan operator perbandingan Sama dengan antara DataTuple ke 5 dengan DataDictionary key Nilai2
HasilBanding = DataTuple[5] == DataDictionary['Nilai2']
print(HasilBanding)

False

In [17]:
# tambahkan key dan nilai DataDictionary dengan isi Hobby:Sepak bola
DataDictionary["Hobby"] = "Sepak bola"
print(DataDictionary)

{'Nama': 'Anggara', 'Belajar': 'Data Science', 'Tempat': 'mutiara technology Indonesia', 'Tahun': 2021, 'Nilai1': 100, 'Nilai2': 90, 'Nilai3': 99, 'Nilai4': 59, 'Hobby': 'Sepak bola'}

In [18]:
# hapus isi DataList ke 3 dengan menggunakan del
del(DataList[3])
print(DataList)

[1, 11, 2, 33, 'semangat', 'Belajar']