In [1]:
# buatlah List Data dengan isinya : 1, 11, 2, 22, 3, 33,"semangat", "Belajar"
... ...
print(DataList)
print(type(DataList))

[1, 11, 2, 22, 3, 33, 'semangat', 'Belajar']
<class 'list'>

In [2]:
# buatlah Set dengan isinya : 1.1, 11.1, 2.2, 22.2, "Hari", "Selasa"
... ...
print(type(DataSet))
print(DataSet)

<class 'set'>
{1.1, 2.2, 'Selasa', 11.1, 'Hari', 22.2}

In [3]:
""" 
buatlah Dictionary dengan data Nama: Anggara, Belajar: Data Science, Tempat: mutiara technology Indonesuia,
Tahun : 2021, Nilai1 : 100, Nlai2: 90, Nilai3: 99, Nilai4:59
 
"""
... ...
print(DataDictionary)
print(type(DataDictionary))

{'Nama': 'Anggara', 'Belajar': 'Data Science', 'Tempat': 'mutiara technology Indonesuia', 'Tahun': 2021, 'Nilai1': 100, 'Nilai2': 90, 'Nilai3': 99, 'Nilai4': 59}
<class 'dict'>

In [4]:
# buatlah sebuah Tuple dengan isi doni, 65, 43, 12, 100, 4 
... ...
print(DataTuple)
print(type(DataTuple))

('doni', 65, 43, 12, 100, 4)
<class 'tuple'>

In [5]:
# jumlahkan isi dari DataList pertama dengan isi DataTuple kedua
... ...
print(hasilJumlah)

66

In [6]:
# gunakan operator perbandingan Sama dengan antara DataTuple ke 5 dengan DataDictionary key Nilai2
... ...
print(HasilBanding)

False

In [7]:
# tambahkan key dan nilai DataDictionary dengan isi Hobby:Sepak bola
... ...
print(DataDictionary)

{'Nama': 'Anggara', 'Belajar': 'Data Science', 'Tempat': 'mutiara technology Indonesuia', 'Tahun': 2021, 'Nilai1': 100, 'Nilai2': 90, 'Nilai3': 99, 'Nilai4': 59, 'Hobby': 'Sepak bola'}

In [8]:
# hapus isi DataList ke 3 dengan menggunakan del
... ...
print(DataList)

[1, 11, 22, 3, 33, 'semangat', 'Belajar']